name: ci

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  ci:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Checkout java repo
        uses: actions/checkout@v6
        with:
          repository: Teahouse-Studios/mcwzh-meme-resourcepack
          path: tests/java

      - name: Checkout bedrock repo
        uses: actions/checkout@v6
        with:
          repository: Teahouse-Studios/mcwzh-meme-resourcepack-bedrock
          path: tests/bedrock

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm bundle

      - name: Run tests
        run: |
          cd tests
          node run.js

      - uses: actions/upload-artifact@v6
        with:
          name: test build
          path: tests/out/
          compression-level: 0
